$color-primary: #1F305A;
$color-primary-light: #628FC9;

$color-green: #58A871;

$color-grey: #E3E3E3;

$color-grey-dark: #A7A7A7;

$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;

//margin
.mb-lg{margin-bottom: 5rem;}


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;